* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(25, 28, 25);
}
:root {
    --background-color: rgb(21, 22, 21);
    --font-color: yellowgreen;
}
@font-face {
    font-family: Bubble;
    src: url(../fontstyle/Super\ Bubble.ttf);
}
.starter {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 4rem;
}
.starter a {
    width: 300px;
    height: 120px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: 2px solid yellowgreen;
    position: relative;
    margin-bottom: 1rem;
    transition: 0.3s;
}
a .moving {
    width: 100%;
    height: 100%;
    font-family: Bubble;
    font-size: 24px;
    color: yellowgreen;
    letter-spacing: 2px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

a:hover {
    transform: translateY(-24px);
    background-color:rgb(21, 22, 21);
    transition: 0.3s;
    border-radius: 12px;
}
.moving:hover{
    background-color:rgb(21, 22, 21);
    border-radius: 12px;
    transition: 0.3s;
}
.starter img {
    width: 400px;
    height: 400px;
}